
.custom-stroke {
    -webkit-text-stroke: 3px black; /* Estilo por defecto (desktop) */
}

  /* Tablet y móviles (hasta 1024px) */
  @media (max-width: 1024px) {
    .custom-stroke {
      -webkit-text-stroke: 1px black;
    }
}

.custom-stroke2 {
    -webkit-text-stroke: 1px black;
}

  /* Button CV */
.fixed {
    position: fixed;
    top: 0;
    left: 39%;
    transform: translateX(-50%);
    z-index: 9999;
}

#display {
  display: none;
}

#display.display-visible {
  display: flex; /* o el display que necesites */
}