---
import ProjectCard from './ProjectCard.astro';
import github from '../assets/github.svg';
import img1 from '../assets/dev.png';
import img2 from '../assets/logo-main.svg';
import img3 from '../assets/logo-certif.png';
---

<section class="w-full py-8 px-4">
  <h2 class="text-2xl text-center sm:text-3xl font-bold mb-6 text-gray-900">Build Projects</h2>
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-6 justify-items-center">
    <ProjectCard
      image={img1.src}
      name="Portfolio Web"
      description="Sitio personal para mostrar mis proyectos y habilidades."
      urlGit="https://github.com/MiguelAngelEc/MigueDev"
      urlDemo="https://portfolio-demo.com"
      details="Tecnologías: Astro, Tailwind CSS, JavaScript ES6+.\nPropósito: Centralizar y mostrar mi experiencia, proyectos y contacto profesional en un solo lugar.\nMetas: Mejorar mi presencia profesional y facilitar el contacto con potenciales clientes o empleadores."
    />
   <!-- <ProjectCard
      image={img2.src}
      name="App de Tareas"
      description="Aplicación para gestionar tareas diarias con autenticación."
      urlGit="https://github.com/usuario/todo-app"
      urlDemo="https://todo-demo.com"
      details="Tecnologías: Astro, Tailwind CSS, JavaScript, LocalStorage.\nPropósito: Permitir a los usuarios organizar y priorizar sus tareas diarias de forma sencilla y segura.\nMetas: Fomentar la productividad personal y la gestión eficiente del tiempo."
    /> -->
    <!-- <ProjectCard
      image={img3.src}
      name="Galería de Certificados"
      description="Galería interactiva para mostrar certificados obtenidos."
      urlGit="https://github.com/usuario/certificados"
      urlDemo="https://certificados-demo.com"
      details="Tecnologías: Astro, Tailwind CSS, JavaScript, GSAP.\nPropósito: Visualizar de manera atractiva y animada los certificados y logros académicos/profesionales.\nMetas: Demostrar mis competencias y logros de forma visual y dinámica."
    />  -->
  </div>
</section>
