---
import img from "../assets/dev.png"
import github from "../assets/github.svg"
import x from "../assets/x.svg"
import instagram from "../assets/instagram.svg"
---

<main class="flex flex-col w-full h-auto min-h-[625px] px-4 py-4">
  <section class="flex flex-col lg:flex-row items-center justify-center gap-6 h-auto w-full text-center lg:text-right">
    <!-- Contenedor de texto -->
    <div class="flex flex-col w-full lg:max-w-3xl lg:w-[50vw] lg:mb-0">
      <h1 class="text-[12vw] sm:text-[7vw] lg:text-[8vw] font-bold text-black">
        <span class="char">MIGUE.</span><span class="text-transparent custom-stroke">dev</span>
      </h1>
      <h2 class="text-xl sm:text-2xl lg:text-3xl font-semibold mt-2">
        Coding with character.
      </h2>
      <p class="mt-2 text-base lg:text-[15px] sm:text-[12px]">
        Self-taught developer focused on <span class="font-bold">frontend</span> magic, 
        <span class="font-bold">backend</span> logic and bringing ideas to life.
      </p>
      <div class="flex justify-center sm:justify-end gap-3 sm:gap-4 mt-4 sm:mt-6 lg:mt-6">
        <a class="rotate inline-block will-change-transform" href="https://github.com/MiguelAngelEc">
          <img class="w-8 h-8 sm:w-9 sm:h-9 lg:w-10 lg:h-10 hover:scale-110 transition-all duration-300 inline-block will-change-transform" src={github.src} alt="">
        </a>
        <a class="rotate inline-block will-change-transform" href="https://x.com/MiguelSOLEY">
          <img class="w-8 h-8 sm:w-9 sm:h-9 lg:w-10 lg:h-10 hover:scale-110 transition-all duration-300 inline-block will-change-transform" src={x.src} alt="">
        </a>
        <a class="rotate inline-block will-change-transform" href="https://www.instagram.com/migueangel.dev/">
          <img class="w-8 h-8 sm:w-9 sm:h-9 lg:w-10 lg:h-10 hover:scale-110 transition-all duration-300 inline-block will-change-transform" src={instagram.src} alt="">
        </a>
      </div>
      <div class="flex justify-center sm:justify-end gap-3 sm:gap-4 mt-4 sm:mt-6 lg:mt-6 curriculum">
        <button class="bg-black text-white px-4 py-2 rounded-full hover:scale-110 transition-all duration-300 inline-block will-change-transform">Download CV</button>
      </div>
    </div>

    <!-- Contenedor de imagen -->
    <div class="w-full sm:w-2/3 lg:w-[50vw] lg:ml-10 dev-img">
      <img class="w-full h-auto" src={img.src} alt="Dev-person" width="500" height="500">
    </div>

  </section>
</main>
<script type="module">
  import { initMainAnimations } from '../animations/mainAnimations.js';
  
  // Ejecutar cuando el DOM esté listo
  window.addEventListener('load', () => {
    initMainAnimations();
  });
</script>
