---
import "./src/styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio</title>
		<link rel="stylesheet" href="/src/styles/style.css" />
	</head>
	<body class="h-[1400px]">
		<slot />
		<!-- Scripts -->
		<script>
			// Importar y ejecutar la función de scroll suave
			import { setupSmoothScroll } from '../utils/smoothScroll';
			setupSmoothScroll();
		</script>
	</body>
</html>
